{{#get "posts" limit="3"}}
<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>{{t "Recent Post"}}</span></h4>
	<div class="content recent-post">
		{{#foreach posts visibility="all"}}
		<div class="recent-single-post clearfix{{#if feature_image}} have-image{{/if}}">
			<a href="{{url}}" class="post-title">
				{{#if feature_image}}
				<div class="post-thumb pull-left" style="background-image:url({{feature_image}})"></div>
				{{else}}
				<div class="post-thumb pull-left"><i class="fa fa-image"></i></div>
				{{/if}}
				<div class="post-info">
					<h4 class="h5">{{title}}</h4>
					<div class="date"><i class="fa fa-calendar-o"></i>{{date format="MMMM DD, YYYY"}}'</div>
				</div>
			</a>
		</div>
		{{/foreach}}
	</div>
</div>
{{/get}}
<!-- end widget -->